<div class="filtercontainer" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
    <mat-toolbar class="search-block">
        <mat-toolbar-row>
            <button class="search-icon" mat-icon-button disabled>
                <mat-icon>search</mat-icon>
            </button>
                <input 
                class="search-control"
                type="text" 
                [(ngModel)]="searchFilter"
                #searchbar
                (ngModelChange)="onFilterChange()">
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-form-field>
        <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="categoryFilter" (ngModelChange)="onFilterChange()">
            <mat-option value="Tecnología">Tecnología</mat-option>
            <mat-option value="Fiesta">Fiesta</mat-option>
            <mat-option value="Graduaciones">Graduaciones</mat-option>
            <mat-option value="Academico">Academico</mat-option>
            <mat-option value="Cultural">Cultural</mat-option>
            <mat-option value="Gastronómico">Gastronómico</mat-option>
            <mat-option value="Deportes">Deportes</mat-option>
            </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Programs</mat-label>
        <mat-select [(ngModel)]="programsFilter" (ngModelChange)="onFilterChange()" multiple>
          <mat-option value="Electrónica, Sistemas y Servicios">Electrónica, Sistemas y Servicios</mat-option>
          <mat-option value="Estudios Socioculturales">Estudios Socioculturales</mat-option>
          <mat-option value="Estudios Sociopolíticos y Jurídicos">Estudios Sociopolíticos y Jurídicos</mat-option>
          <mat-option value="Filosofia y Humanidades">Filosofia y Humanidades</mat-option>
          <mat-option value="Formación Humana">Formación Humana</mat-option>
          <mat-option value="Matemáticas y Física">Matemáticas y Física</mat-option>
          <mat-option value="Hábitat y Desarrollo Urbano">Hábitat y Desarrollo Urbano</mat-option>
          <mat-option value="Lenguas">Lenguas</mat-option>
          <mat-option value="Matemáticas y Física">Matemáticas y Física</mat-option>
          <mat-option value="Procesos Tecnológicos e Industriales">Procesos Tecnológicos e Industriales</mat-option>
          <mat-option value="Psicología, Educación y Salud">Psicología, Educación y Salud</mat-option>
          <mat-option value="Internacionalización">Internacionalización</mat-option>
        </mat-select>
      </mat-form-field>
    <button (click)="deselectCategory()" mat-button color="primary">Clear</button>

</div>

<div class="container">
    <ng-template ngFor let-event [ngForOf]="events" let-i="index">
        <mat-card 
        class="event" 
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="33%">
            <mat-card-header>
                <mat-card-title>
                    {{event.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{event.date | date:'medium' }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="carousel">
                    <img mat-card-image *ngFor="let photo of event.photos; let i = index"
                         [src]="photo"
                         [alt]="'Image ' + (i + 1)"
                         [class.active]="i === event.currentImgIndex">
                    <button mat-button (click)="previousImage(event)" *ngIf="event.photos && event.photos.length > 1"> < </button>
                    <button mat-button (click)="nextImage(event)" *ngIf="event.photos && event.photos.length > 1">></button>
                </div>
                <br>
                <p>{{event.description}}</p>
                <mat-icon fontIcon="location_on"></mat-icon>{{event.location}}
                <p>{{event.category}}</p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="eventDetails(event, userLogin)" color="primary"> Details </button>
                <button mat-button *ngIf="this.role == 'USER' && !event.idUsers!.includes(userLogin._id!)" (click)="attendEvent(event)" color="primary"> Attend </button>
                <button mat-button *ngIf="this.role == 'USER' && event.idUsers!.includes(userLogin._id!)" (click)="attendEvent(event)" disabled color="primary"> Attending </button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</div>