.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82vh; /* Full viewport height */
}

.loading-text {
    margin-top: 20px; /* Adjust as needed */
    font-size: 1.5em; /* Larger font size */
    text-align: center; /* Center the text */
}